*{
    margin: 0px;
    padding: 0px;
  }
  
  header{
    display: flex;
  }
  
  header p{
    margin-top: 60px;
  }
  
  header img{
    height: 100px;
    width: 100px;
  }
  
  header nav ul {
   margin: 20px;
   display: flex;
   border-color: black;
   border-style: solid;
   margin-left: 18em;
   border-radius: 15px;
  }
  
  a:hover {
    color: cornflowerblue;
  }
  
  ul li{
   margin: 10px;
   list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  body{
    background-image:url();
   
    }
    .logo{
      margin-left: 80%;
      margin-top: -6%;
    }